[submodule ".i3/blocklets/i3blocklet-pipewire-source"]
	path = .i3/blocklets/i3blocklet-pipewire-source
	url = https://github.com/OmarCastro/i3blocklet-pipewire-source.git
[submodule ".i3/blocklets/i3blocklet-pipewire-sink"]
	path = .i3/blocklets/i3blocklet-pipewire-sink
	url = https://github.com/OmarCastro/i3blocklet-pipewire-sink.git
[submodule ".i3/blocklets/i3blocklet-time"]
	path = .i3/blocklets/i3blocklet-time
	url = https://github.com/OmarCastro/i3blocklet-time.git
[submodule ".i3/blocklets/i3blocklet-randr-backlight"]
	path = .i3/blocklets/i3blocklet-randr-backlight
	url = https://github.com/OmarCastro/i3blocklet-randr-backlight.git
[submodule ".i3/blocklets/i3blocklet-wifi-network-manager"]
	path = .i3/blocklets/i3blocklet-wifi-network-manager
	url = https://github.com/OmarCastro/i3blocklet-wifi-network-manager.git
