!-------------------------
! font configuration
!-------------------------


Xft*dpi:                96
Xft*antialias:          true
Xft*hinting:            none


!-------------------------
! urxvt configuration
!-------------------------

urxvt*background:       #1d1f21

urxvt*foreground:       #c5c8c6
urxvt*fading:           15
urxvt*fadeColor:        #000000

!urxvt.transparent:   true
!urxvt.tintColor:     white
!urxvt.shading:       70 


urxvt*scrollTtyOutput:      false
urxvt*scrollWithBuffer:     true
urxvt*scrollTtyKeypress:    true

urxvt*scrollColor: #4d4f51
urxvt*troughColor: #2d2f31


!urxvt.background:   #1d1f21
urxvt.cursorColor:  #aeafad

! Black / Grey
urxvt.color0:       #000000
urxvt.color8:       #666666

! Red / Bright Red
urxvt.color1:       #cc6666
urxvt.color9:       #FF3334

! Green + Bright Green
urxvt.color2:       #b5bd68
urxvt.color10:      #9ec400

! Yellow (Orange) + Bright Yellow (Yellow)
urxvt.color3:       #de935f
urxvt.color11:      #f0c674

! Blue + Bright Blue
urxvt.color4:       #81a2be
urxvt.color12:      #81a2be

! Magenta (Purple) + Bright Magenta
urxvt.color5:       #b294bb
urxvt.color13:      #b777e0

! Cyan (Aqua) + Bright Cyan
urxvt.color6:       #8abeb7
urxvt.color14:      #54ced6

! Light Grey (Selection) + White (Current Line)
urxvt.color7:  #373b41
urxvt.color15: #282a2e


! Fonts
urxvt*font: xft:Roboto Mono:pixelsize=13,\
            xft:Roboto Mono for Powerline:pixelsize=13

urxvt*boldFont: xft:Roboto Mono:pixelsize=13:style=Bold,\
                xft:Roboto Mono for Powerline:pixelsize=13




!-------------------------
! rofi configuration
!-------------------------


rofi.opacity:  80
rofi.width:    80
rofi.lines:    15
rofi.font:     Roboto Mono 10
rofi.location: 0
rofi.padding:  2
rofi.color-enabled: true
rofi.separator-style: none
rofi.sidebar-mode: false
rofi.bw: 1
rofi.columns: 1
rofi.line-margin: 0
rofi.yoffset: 0
rofi.fake-transparency: false
rofi.hide-scrollbar: true
              
rofi.color-window: #213321, #222222, #ffffff

!                    bg        fg       bg+1            fg +1
rofi.color-normal: #222222, #b1b4b3, #333333, #005577, #b1b4b3
rofi.color-active: #222222, #b1b4b3, #222222, #007763, #b1b4b3
rofi.color-urgent: #222222, #b1b4b3, #222222, #77003d, #b1b4b3







