!-------------------------
! font configuration
!-------------------------


Xft*dpi:                96
Xft*antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.hintstyle:          hintslight



!-------------------------
! urxvt configuration
!-------------------------

*background:       #1d1f21

*foreground:       #c5c8c6

!urxvt.transparent:   true
!urxvt.tintColor:     white
!urxvt.shading:       70 


urxvt*scrollTtyOutput:      false
urxvt*scrollWithBuffer:     true
urxvt*scrollTtyKeypress:    true

urxvt*scrollColor: #4d4f51
urxvt*troughColor: #2d2f31


!urxvt.background:   #1d1f21
urxvt.cursorColor:  #aeafad

! Black / Grey
*color0:       #000000
*color8:       #666666

! Red / Bright Red
*color1:       #cc6666
*color9:       #FF3334

! Green + Bright Green
*color2:       #b5bd68
*color10:      #9ec400

! Yellow (Orange) + Bright Yellow (Yellow)
*color3:       #de935f
*color11:      #f0c674

! Blue + Bright Blue
*color4:       #81a2be
*color12:      #81a2be

! Magenta (Purple) + Bright Magenta
*color5:       #b294bb
*color13:      #b777e0

! Cyan (Aqua) + Bright Cyan
*color6:       #8abeb7
*color14:      #54ced6

! Light Grey (Selection) + White (Current Line)
*color7:  #767676
*color15: #d6d6d6

! Fonts 
urxvt*font: xft:Roboto Mono:pixelsize=13,\
            xft:Roboto Mono for Powerline:pixelsize=13

urxvt*boldFont: xft:Roboto Mono:pixelsize=13:style=Bold,\
                xft:Roboto Mono for Powerline:pixelsize=13

!-------------------------
! rofi configuration
!-------------------------


rofi.opacity:  80
rofi.width:    80
rofi.lines:    15
rofi.font:     Roboto Mono 10
rofi.location: 0
rofi.padding:  2
rofi.color-enabled: true
rofi.separator-style: none
rofi.sidebar-mode: false
rofi.bw: 1
rofi.columns: 1
rofi.line-margin: 0
rofi.yoffset: 0
rofi.fake-transparency: false
rofi.hide-scrollbar: true
              
rofi.color-window: #213321, #222222, #ffffff

!                    bg        fg       bg+1            fg +1
rofi.color-normal: #222222, #b1b4b3, #333333, #005577, #b1b4b3
rofi.color-active: #222222, #b1b4b3, #222222, #007763, #b1b4b3
rofi.color-urgent: #222222, #b1b4b3, #222222, #77003d, #b1b4b3







